*{
    margin: 0px;
}
.navbar{
    width: 100%;
    height: 56px;
    float: left;
    background-color:#047BD5;
}
.navbar .logo{
    width: 20%;
    height: 100%;
    float: left;
   
    overflow: hidden;
}
.navbar .logo img{
    width: 220px;
    height: 60px;
    margin-left: 50.2px;
    float: left;
    transform: scale(1.5,1.5);
}
.navbar .search{
    width: 40%;
    height: 100%;
    float: left;
   
}
.navbar input{
    width: 500px;
    height: 35px;
    float: left;
    margin-top: 6.8px;
    margin-left: 30px;
    border-radius: 3px;
    border: none;
}
.navbar .search i{
    position: absolute;
    top:16px;
    left: 805px;
    font-size: 20px;
    opacity: 0.6;
    color: blue;
}
.navbar .options{
    width: 40%;
    height: 100%;
    float: left;
    
}
.navbar .options ul li{
    display: inline-block;
    list-style-type: none;
    margin-left: 20px;
    font-size: 22px;
    margin-top: 10px;
    color:white;
}
.navbar .options select{
    background-color: transparent;
    border: none;
    font-size: 21px;
    color: white;
}
.navbar2{
    width: 100%;
    height: 40px;
    float: left;
   
}
.navbar2 ul li{
    display: inline-block;
    list-style-type: none;
    margin-top: 9px;
    margin-left: 40px;
}
.navbar2 select{
    border: none;
    background-color: transparent;
}

.A{
    width: 40%;
    height: 620px;
    float: left;
    
}
.A .img1{
    height: 400px;
    float: left;

    margin-left: 70px;
    margin-top: 75px;

}
.A .img2{
    width: 260px;
    height: 350px;
    float: left;
    margin-left: 100px;
    margin-top: 100px;
}

.A .but1{
width: 200px;
height: 45px;
float: left;
background-color: orangered;
border: none;
position: absolute;
top: 600px;
left: 150px;
font-size: 16px;
color: white;
border-radius: 3px;
}
.A .but1:hover{
    background-color: orange;
}
.A .but2{
    width: 200px;
    height: 45px;
    float: left;
    background-color: orangered;
    border: none;
    position: absolute;
    top: 600px;
    left: 350px;
    margin-left: 25px;
    font-size: 16px;
    color: white;
    border-radius: 3px;
}
.A .but2:hover{
    background-color:orange ;
}
.B{
    width: 60%;
    height: 620px;
    float: left;
    
}
.inerB{
    width: 90%;
    height: 540px;
    float: left;
  
    margin-top: 15px;
    margin-left: 10px;
}
.B inerB{
    padding: 10px;
}
.ratings{
    width: 100%;
   
    float: left;
    height: 33px;

}
.ratings .rate{
    width: 40px;
    height: 20px;
    float: left;
    background-color: green;
    color: white;
    /* text-align-last: center; */
    border-radius: 4px;
    padding-left: 3px;
    margin-top: 7px;
}.ratings .rate i{
    color: white;
    font-size: 11px;
    margin-left: 2px;
}

.ratings .h4{
    width: 28%;
    height: 100%;
    
    float: left;
    margin-left: 10px;
}
.h4 h4{
    margin-top: 6px;
    opacity: 0.7;
}
.assuredlogo{
    width: 64.12%;
    height: 100%;
    float: left;
    
}
.assuredlogo img{
    width: 110px;
    height: 30px;
    float: left;
    margin-top: 3px;
}
.line2{
    width: 100%;
    height: 35px;
    float: left;
   
    
}
.line2 .part11{
    width: 15%;
    height: 100%;
    
    float: left;
}
.line2 .part12{
    width: 12%;
    height: 100%;

    float: left;
   
}
.line2 .part12 h2{
    margin-top: 10px;
    opacity: 0.7;
    font-size: 19px;
}
.line2 .part13{
    width: 10%;
    height: 100%;
    /* background-color: gray; */
    float: left;
}
.line2 .part13 h5{
    margin-top: 15px;
}
.line3{
    width: 100%;
    height: 290px;
    float: left;
  
}
.line3 h4 i{
    color: green;
}
.table{
    width: 40%;
    height: 150px;
    float: left;
   
    margin-top: 10px;
}

.t1{
    width: 96%;
    height: 40px;
    float: left;
  
    border: 1px solid black;
    padding: 6px;
}
.t1 h4{
    margin-top: 10px;
    font-size: 17px;

}
.t2{
    width: 96%;
    height: 97px;
    float: left;
    background-color:white;
    border: 1px solid black;
    padding: 6px;
}
.t2 h4{
    margin-top: 10px;
    font-size: 17px;
    opacity:0.7 ;
}
.t2 span{
    margin-left: 16px;
    margin-top: 50px;
    padding-top: 50px;
    color: red;
}
 .kbd{
    background-color: antiquewhite;
    width: 130px;
    height: 30px;
    position: absolute;
    top: 570px;
    margin-left: 28px;
    text-align: center;
}
.war{
    position: absolute;
    top: 570px;
    left: 790px;
}